/* top level layout*/
.layout {
  display: grid;
  grid-template-columns: 350px 350px;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  padding: 2rem;
  align-items: center;
}

/* column containers*/
.left_col {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 2rem;
  /* stack items vertically inside each column */
  gap: 1rem;
  /* spacing between cards/controls */
  justify-content: center;
}

.right_col {
  display: flex;
  flex-direction: column;
  padding: 2 rem;
  /* stack items vertically inside each column */
  gap: 1rem;
  /* spacing between cards/controls */
}

/*card styling*/
.temp_card {
  width: 100%;
  height: 180px;
  background: #eb7d07;
  border-radius: 16px;
  margin-bottom: 1rem;
  align-items: stretch;
  margin: auto;
}

.humid_card {
  width: 100%;
  height: 180px;
  background: #08b1ff;
  border-radius: 16px;
  margin-bottom: 1rem;
  margin: auto;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}